.title {
  font-weight: var(--weight-bold);
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
}

.picture {
  max-width: 140px;
  max-height: 140px;
  border-radius: 50%;
  user-select: none;
  pointer-events: none;
  filter: brightness(100%);
  transition: 200ms;
}

.content p {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .picture {
    width: 120px;
    height: 120px;
  }
}
